{% extends "/template/template.html" %}
{% block content %}
<div>
    <div class="card mb-4 shadow-sm p-auto">
        <div class="card-header text-center">
            <h4 class="my-0 font-weight-normal"><span class="userName"></span></h4>
        </div>
        <div class="card-body">
            <h3 class="card-title pricing-card-title text-center mb-0"><small class="text-muted">conta</small> <span class="userAccountNumber"></span></h3>
            <h1 class="card-title pricing-card-title text-center"><small class="text-muted">SALDO</small> $<span class="userFunds"></span></h1>

            <div class="card-deck my-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="mb-0">Dados</h4>
                    </div>
                    <div class="card-body">
                        <p><b>Email:</b> <span class="userEmail"></span></p>
                        <p><b>Identificação:</b> <span class="userIdentification"></span></p>
                        <p><b>Registro:</b> <span class="userRegistration"></span></p>
                        <p><b>Data de Nascimento:</b> <span class="userBirthDate"></span></p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="mb-0">Telefones</h4>
                    </div>
                    <div class="card-body">
                        <ol id="userPhone">
<!--                        {% for item in phone %}
                        <li class="my-2">{{item['phone']}}</li>
                        {%endfor%}-->
                        </ol>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="mb-0">Endereço</h4>
                    </div>
                    <div class="card-body">
                        <ul id="userAddress" class="mt-3 mb-4">
                        </ul>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center">
                <a type="button" href="/view/create/transaction" class="btn btn-lg w-25 btn-success m-2">Nova Transação</a>
                <a type="button" href="/view/show/transaction" class="btn btn-lg w-25 btn-primary m-2">Minhas Transações</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function(){
        console.log(document.cookie);
        var authCookie = document.cookie.replace('authentication=','').split(';')

        $.ajax({
            type: "GET",
            url: '/api/v1/user/{{id}}',
            headers: {"Authorization": "Basic " + authCookie} ,
            success: function(a){
                    console.log(a)
                if(a.user){
                    $('.userAccountNumber').html(a.account.account_number)
                    $('.userFunds').html(a.account.funds)
                    $('.userBirthDate').html(a.user.birth_date)
                    $('.userIdentification').html(a.user.identification)
                    $('.userEmail').html(a.user.email)
                    $('.userName').html(a.user.name)
                    $('.userRegistration').html(a.user.registration)
                    //ADDRESS CARD
                    let addressAmount = a.addres.address.length
                    $('#userAddress').html("")
                    let userAddress = "";
                    for(x = 0; x < addressAmount; x++){
                        userAddress = "<li><b>Endereço: </b>"+ a.addres.address[x].address +
                            "<ul> <li><b>Numero: </b>"+
                            a.addres.address[x].number +"</li>" +
                            "<li><b>Referencia: </b>"+ a.addres.address[x].reference +"</li>" +
                            "<li><b>Observação: </b>"+ a.addres.address[x].observation +"</li>" +
                            "</ul>" +
                            "</li>"
                        $("#userAddress").append(userAddress)
                    }
                    //PHONE CARD
                    let phoneAmount = a.phone.phone.length
                    $('#userPhone').html("")
                    let userPhone = "";
                    for(x = 0; x < phoneAmount; x++){
                        userPhone = "<li class='my-2'>"+ a.phone.phone[x].phone +"</li>"
                        $("#userPhone").append(userPhone)
                    }

                    console.log(a.addres.address)

                }else{
                    $('body').html(a)
                }
            },
            error: function (){
                alert('Ocorreu um erro durante o envio do formulario, aguarde um estante atualize a pagina!')
            }
        });


        console.log(authCookie[0]);
    })
</script>

{% endblock %}