{% extends "/template/template.html" %}
{% block content %}
<div>
    <div class="container form-signin">
        <div class=" text-center">
            <h1>Transação</h1>
        </div>

        <div class="mb-3">
            <label for="transaction_type" style="font-size: 26px; font-weight: 500">Tipo de Transação</label>
            <div class="input-group">
                <select class="form-control" id="transaction_type" name="transaction_type" required="">
                    <option value="0">Selecione um tipo de transação</option>
                    <option value="1">Depósito</option>
                    <option value="2">Transferência</option>
                    <option value="3">Saque</option>
                </select>
            </div>
            <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
            </div>

            <div id="card_transaction" class="card mt-5" style="display: none">
                <div id="card_transaction_header" class="card-header text-center">
                            <!-- DINAMICO -->
                </div>
                <div id="card_transaction_body_deposit" class="card-body" style="display: none">
                    <div class="mb-3">
                        <label for="deposit">Valor do depósito</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="deposit" name="deposit" required="">
                            <div class="invalid-feedback" style="width: 100%;">
                                Your username is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card_transaction_body_transfer" class="card-body" style="display: none">
                    <div class="mb-3">
                        <label for="transfer">Valor a ser transferido</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="transfer" name="transfer" required="">
                            <div class="invalid-feedback" style="width: 100%;">
                                Your username is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="account_destination">Conta de destino</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="account_destination" name="account_destination" required="">
                            <div class="invalid-feedback" style="width: 100%;">
                                Your username is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card_transaction_body_withdraw" class="card-body" style="display: none">
                    <div class="mb-3">
                        <label for="withdraw">Valor a ser sacado</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="withdraw" name="withdraw" required="">
                            <div class="invalid-feedback" style="width: 100%;">
                                Your username is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div id="card_transaction_footer_deposit" class="card-footer" style="display: none">
                    <span class="btn btn-success float-right execute-deposit" style="cursor:pointer;">Depositar <i class="fas fa-check"></i></span>
                </div>
                <div id="card_transaction_footer_transfer" class="card-footer" style="display: none">
                    <span class="btn btn-success float-right execute-transfer" style="cursor:pointer;">Transferir <i class="fas fa-check"></i></span>
                </div>
                <div id="card_transaction_footer_withdraw" class="card-footer" style="display: none">
                    <span class="btn btn-success float-right execute-withdraw" style="cursor:pointer;">Sacar <i class="fas fa-check"></i></span>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('#transaction_type').change(function(){
        $('#card_transaction').show();
        let type = $('#transaction_type').val();
        switch (type) {
            case '0':
                $('#card_transaction').hide();
                $('#card_transaction_header').html("")
                $('#card_transaction_body_deposit').hide()
                $('#card_transaction_body_transfer').hide()
                $('#card_transaction_body_withdraw').hide()
                $('#card_transaction_footer_deposit').hide()
                $('#card_transaction_footer_transfer').hide()
                $('#card_transaction_footer_withdraw').hide()
                break;
            case '1':
                $('#card_transaction_header').html("<h4>Depósito</h4>")
                $('#card_transaction_body_deposit').show()
                $('#card_transaction_body_transfer').hide()
                $('#card_transaction_body_withdraw').hide()
                $('#card_transaction_footer_deposit').show()
                $('#card_transaction_footer_transfer').hide()
                $('#card_transaction_footer_withdraw').hide()
                break;
            case '2':
                $('#card_transaction_header').html('<h4>Transferência</h4>')
                $('#card_transaction_body_deposit').hide()
                $('#card_transaction_body_transfer').show()
                $('#card_transaction_body_withdraw').hide()
                $('#card_transaction_footer_deposit').hide()
                $('#card_transaction_footer_transfer').show()
                $('#card_transaction_footer_withdraw').hide()
                break;
            case '3':
                $('#card_transaction_header').html('<h4>Saque</h4>')
                $('#card_transaction_body_deposit').hide()
                $('#card_transaction_body_transfer').hide()
                $('#card_transaction_body_withdraw').show()
                $('#card_transaction_footer_deposit').hide()
                $('#card_transaction_footer_transfer').hide()
                $('#card_transaction_footer_withdraw').show()
                break;
        }
    })

    $('.execute-deposit').on('click',function(){

        let transaction_value = $('#deposit').val()
        let transaction_type = 1
        let transaction_destination = 0

        executeAjax(transaction_type, transaction_value, transaction_destination)
    })

    $('.execute-transfer').on('click',function(){

        let transaction_value = $('#transfer').val()
        let transaction_type = 2
        let transaction_destination = $('#account_destination').val()

        executeAjax(transaction_type, transaction_value, transaction_destination)
    })

    $('.execute-withdraw').on('click',function(){

        let transaction_value = $('#withdraw').val()
        let transaction_type = 3
        let transaction_destination = 0

        executeAjax(transaction_type, transaction_value, transaction_destination)
    })

    function executeAjax(transaction_type, transaction_value, transaction_destination){
        $.ajax({
            type: "POST",
            url: '/api/v1/transaction/create',
            data: {'type': transaction_type,
                'value': transaction_value,
                'destination_account': transaction_destination},
            success: function(a,b){
                if(a.Success != undefined){
                    alert('transação realizada com sucesso')
                }else{
                    $('#inputPassword').val('')
                    $('#inputPassword').focus()
                    alert('erro loco')
                }
            },
            error: function (){
                alert('Ocorreu um erro.')
            }
        });
    }
</script>
{% endblock %}