{% extends "/template/template.html" %}
{% block content %}
<div>
    <table class="table table-striped table-dark text-center" style="border-radius: 10px;">
        <thead>
        <tr>
            <th scope="col" style="border-top: none">#</th>
            <th scope="col" style="border-top: none">Origem</th>
            <th scope="col" style="border-top: none">Destino</th>
            <th scope="col" style="border-top: none">Valor</th>
            <th scope="col" style="border-top: none">Tipo</th>
            <th scope="col" style="border-top: none">Data</th>
        </tr>
        </thead>
        <tbody>
    {% for transaction in accountTransactionList %}
        <tr>
            <th scope="row">{{transaction['id']}}</th>
            <td>{{transaction['account_origin_id']}}</td>
            <td>{{transaction['account_destination_id']}}</td>
            <td>{{transaction['value']}}</td>
            <td>{% if transaction['transaction_type'] == 1 %}
                    <span>Depósito</span>
                {% elseif transaction['transaction_type'] == 2 %}
                    <span>Transferência</span>
                {% elseif transaction['transaction_type'] == 3 %}
                    <span>Saque</span>
                {% endif %}
            </td>
            <td>{{transaction['transaction_date']}}</td>
        </tr>
    {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}